*{
	box-sizing: border-box;
}

:root {
	--background: #FFF;
	--background-header: #F5F5F5;
	--black: #000;
}

header {
	border: solid;
	margin: 0px 0px 50px 0px;
	background-color: var(--background-header);
}

.page-header {
	display: flex;
	justify-content: space-between;
}


#logo {
	height: 200px;
}

#vulpix {
	height: 200px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	background-color: var(--background);
}

.button-class {
	background-color: var(--background-header);
	border: solid;
	border-color: var(--black);
}

/* <500px */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* 500px to 750px */
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* <shared content <750 */
@media all and (max-width:  750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }