/* GLOBAL */
*{
	box-sizing: border-box;
}

:root {
	--background-page: #FFF;
	--background-header: #F5F5F5;
	--background-modal: #30A7D7;
	--black: #000;
	--white: #fff;
}

header {
	border: solid;
	margin: 0px 0px 50px 0px;
	background-color: var(--background-header);
}

.page-header {
	display: flex;
	justify-content: space-between;
}


#logo {
	height: 200px;
}

#vulpix {
	height: 200px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	background-color: var(--background-page);
}

ul {
	list-style: none;
	text-align: center;
}

.btn {
	width: 200px;
	height: 50px;
	background-color: var(--background-header);
	border: solid;
	border-color: var(--black);
	font-size: 18px;
}

.pokemonName, .pokemonHeight, .pokemonWeight, .pokemonImage, .pokemonTypes, .img-container {
	margin: auto;
	display: inline-block;
	box-sizing: border-box;
	background-color: var(--background-modal);
	padding: 15px;
	width: 100%;
	max-width: 500px;
	text-align: center;
	font-size: 25px;
	color: #FFF;
}

.pokemonName {
	color: #000;
}

.pokemonImage {
	height: 300px
}


/* RESIZING */
/* <500px */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* 500px to 750px */
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* <shared content <750 */
@media all and (max-width:  750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}